header {
  /* background-color: #666; */
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}
main {
  text-align: center;
}
footer {
  /* background-color: #777; */
  padding: 60px;
  text-align: center;
  color: black;
}
#submitbtn {
  margin-top: 23px;
  margin-left: 60px;
}
input {
  background-color: yellow;
  color: red;
}
label {
  background-color: lightblue;
}
th {
  float: left;
}
table {
  margin-left: 500px;
  margin-top: 0px;
}
body {
  background-color: pink;
}
